{% extends "_layouts/cp" %}

{% set title = "Mighty Events" %}
{% set attendees = craft.mightyEvents.getAttendees %}

{% set tabs = {
    home: { label: "Home"|t, url: url('mightyevents') },
    manage_events: { label: "Manage Events"|t, url: url('mightyevents/manage_events') },
    add_event: { label: "Create a New Event"|t, url: url('mightyevents/add_event') },
} %}

{% set content %}

<div class="grid">
	<div class="item" data-colspan="2">
		<div class="widget pane">
			<h2>Recent Attendees</h2>
			<div class="body">
				<div class="attendees-container">
					{% if attendees %}
					<table id="test" class="data fullwidth">
						<thead>
							<th>ID</th>
							<th>Name</th>
							<th>Email Address</th>
							<th>Event</th>
							<th>Signup Date</th>
							<th>Seats</th>
						</thead>
						<tbody>
							{% for attendee in attendees|slice(0, 20) %}
							<tr>
								<td>{{ attendee.id }}</td>
								<td>{{ attendee.name }}</td>
								<td>{{ attendee.email }}</td>
								<td>{{ attendee.event_id }}</td>
								<td>{{ attendee.dateCreated }}</td>
								<td>{{ attendee.seats }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
					<p>It looks like there aren't any RSVPs for an event.</p>
					{% endif %}
				</div><!-- Attendees Container -->
			</div><!-- Body -->
		</div><!-- Widget -->
	</div><!-- Item -->
	<div class="item" data-colspan="1">
		<div class="widget pane">
			<h2>Events</h2>
			<div class="body">
				<div class="events-container">
					{% if events %}
					<table id="test" class="data fullwidth">
						<thead>
							<th>Name</th>
							<th>Current Attendance</th>
							<th>Seats Available</th>
							<th>Date</th>
						</thead>
						<tbody>
							{% for event in events %}
							<tr>
								<td>{{ event.name }}</td>
								<td>{{ event.current_attendance }}</td>
								<td>{{ event.seats_available }}</td>
								<td>{{ event.date }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
					<p>It looks like you haven't setup an event.</p>
					<div class="buttons">
		                <a href="{{ url('mightyevents/add_event') }}" class="btn submit add icon">{{ "Add an Event" | t }}</a>
		            </div>
					{% endif %}
				</div><!-- Attendees Container -->
			</div><!-- Body -->
		</div><!-- Widget -->
		<div class="widget pane">
			<h2>Search Members</h2>
			<p>Search a member by name to find the events they're attending:</p>
			<div class="body">
				<div class="events-container">
					<form action="">
					<input type="text" class="fullwidth">
					<div class="buttons">
		                <a href="{{ url('mightyevents/add_event') }}" class="btn submit icon">{{ "Search" | t }}</a>
		            </div>
					</form>
				</div><!-- Attendees Container -->
			</div><!-- Body -->
		</div><!-- Widget -->
	</div><!-- Item -->
</div><!-- Grid -->

<div id="plugin-footer">
	<div class="footer-right">
	    <div class="plugin-credit">
	        <p>{{ craft.mightyEvents.getPluginName }} &bull; Version {{ craft.mightyEvents.getPluginVersion }} &bull; <a href="{{ craft.mightyEvents.getPluginUrl }}" target="_blank">Help</a></p>
	    </div>
	</div>
</div>


{% endset %}

{% set js %}
    new Craft.AdminTable({
        tableSelector: '#test',
        noObjectsSelector: '#noresult',
        deleteAction: ''
    });
{% endset %}